# project files
.idea
nbproject
.buildpath
.project
.settings
*.esproj

# system files
Thumbs.db
.DS_Store

# folders
/vendor
/node_modules
/bower_components
/lib

# files
npm-debug.log
composer.phar
phpunit.phar
/phpunit.xml
